
main {
    margin: 0 auto;
    max-width: 90%;
    padding: 50px 30px;
}

*{
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: sans-serif;
}

/*nav bar*/
#nav, #tabs{
    background-color: rgb(118, 228, 255);
    font-style: italic;
}
/*Home Page*/
#ryanPhoto {
    max-width: 35%;
    max-height: auto;
    min-width: 35%;
}
#homeName{
    font-size: 60px;
}

.main-content{
    float:right
}

/*About me*/
#failPic{
   position: right;
   max-width: 25%; 
}
#redPic{
    max-width: 25%;
}
#redBio{
    float: left;
}

#remPic {
    max-width: 25%;
    float: right;
}
#remBio{
    float: right;
}

/*project picture*/
.projectHead{
    align-items: center;
    padding:1px;
    margin: 1px
}
#cardImg{
    image-rendering: auto;
}
#easyLinkPic{
    width: 15%;
}

/*contact*/
#contactPhoto{
    float: left;
}

#contact-form{
    border: 3px;
    float: inline-end;
}

@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
