
main {
    margin: 0 auto;
    max-width: 90%;
    padding: 50px 30px;
}

*,.card{
    background-color: rgba(51, 51, 51);
    color: rgb(255, 255, 255);
    font-family:'Didact Gothic';
    font-size: medium;
}

link{
    color: white;
}

h1  {
    font-family: 'merienda';
}

h5, h4, h3 {
    text-align: center;
    font-family: 'merienda';
}



/*nav bar & footer*/
#nav, #tabs{
    background-color: rgb(51, 51, 51);
    font-style: italic;
}

/*Home Page*/
#ryanPhoto {
    max-width: 35%;
    max-height: auto;
    min-width: 35%;
}
#homeName{
    font-size: 60px;
}

.main-content{
    float:right
}

/*About me*/
#failPic{
   max-width: 25%;
   position:relative; 
   left: 37%;
}
#redPic{
    float:left;
    max-width: 25%;
}
#redBio{
    float: right;
}

#remPic {
    max-width: 25%;
    float: right;
}
#remBio{
    float: right;
}

/*project picture*/
.projectHead{
    align-items: center;
    padding:1px;
    margin: 1px
}
#cardImg{
    image-rendering: auto;
}
#easyLinkPic{
    width: 15%;
}

/*contact*/
#contactPhoto{
    float: left;
}

#contact-form{
    border: 3px;
    float: inline-end;
}

/*media queries*/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }
